
* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Global styles */
body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

#background {
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Top section */
#top {
    background: #2c7ad6;
    padding: 10px 50px;
    box-sizing: border-box;
    word-spacing: 8px;
}

#logo {
    width: 40%;
    background: white;
    text-align: center;
    font-size: 40px;
    float: left;
    padding: 0px 0px 5px 55px;
}

#menu {
    height: 100%;
    width: 100%;
    background: white;
    text-decoration: none;
}

#menu1 ul {
    list-style: none;
    padding-left: 180px;
    box-sizing: border-box;
    text-decoration: none;
}

#menu1 li {
    height: 45px;
    width: 130px;
    text-align: center;
    display: inline-block;
    line-height: 45px;
    border-radius: 10px;
    transform: translateY(-5px);
    color: black;
    font-size: 20px;
}

#menu1 li:hover {
    background: #2c7ad6;
    color: white;
    text-decoration: none;
    transition: all ease .5s;
    border-radius: 5px;
}

#down {
    height: 125px;
    width: 100%;
    margin-top: 10px;
    background: #2c7ad6;
    text-align: center;
    padding-top: 10px;
    color: white;
}

/* Header */
header {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: #2c7ad6;
    color: white;
    padding: 10px;
}

/* Sidebar */
aside {
    background-color: black;
    float: left;
    width: 25%;
    height: 100%;
    color: white;
}

aside nav {
    padding-top: 40px;
    padding-bottom: 30px;
}

aside nav ul {
    list-style: none;
}

aside nav ul li {
    display: block;
    padding: 10px;
    font-family: 'Avenir Next', Open Sans, sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

aside nav ul li a {
    text-decoration: none;
    position: relative;
    color: white;
}

aside nav ul li a::after {
    border-radius: 1em;
    border-bottom: 0.1em solid skyblue;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 0;
    transition: right 0.4s ease-in;
}

aside nav ul li a:hover {
    text-decoration: none;
}

aside nav ul li a:hover::after {
    right: 0;
}

hr {
    border: 1px solid black;
}

th,tr,td{
    border: 1px solid white;
    height: 30px;
}


label{
    color:whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

input{
    margin: 15px auto;
    width: 250px;
    height:100%;
    border: none;
    outline: none;
    background-color:transparent;
    border-bottom:1px solid darkgray;
    transition: border-bottom 0.3s linear;
    position: relative;
    color:whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

input:focus{
    border-bottom:2px solid yellow;
}

input:invalid{
    border-bottom:2px solid skyblue;
}
input::placeholder{
    color:white;
}

.add-book-form,.update-book-form,.delete-book-form{
    text-align:center;
}

.add-book{
    display:block;
}

.update-book{
    display:none;
}
.delete-book{
    display:none;
}
.list-book{
    display:none;
}

.book-content{
    float:left;
    width: 100%;
    height:100%;
    background-color:transparent;
    box-sizing: border-box;
    padding: 0px 20px ;
    padding-top: 20px;
}

.category-header{
    padding:10px;
    text-align: center;
    color:white;
}

/* For ToolTip */
[tooltip] {
    position: relative;
  }
  [tooltip]::before,
  [tooltip]::after {
      line-height: 1;
      user-select: none;
      pointer-events: none;
      position: absolute;
      display: none;
      opacity: 0;
   
      /* opinions */
      text-transform: none; 
      font-size: .9em;
  }
  [tooltip]::before {
      content: '';
      z-index: 1001;
      border: 5px solid transparent;
  }
  [tooltip]::after {
      content: attr(tooltip); /* magic! */
      z-index: 1000;
       
      /* most of the rest of this is opinion */
      font-family: Helvetica, sans-serif;
      text-align: center;
       
      /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
      min-width: 3em;
      max-width: 30em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
       
      /* visible design of the tooltip bubbles */
      padding: 1ch 1.5ch;
      border-radius: .3ch;
      box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
      background: #333;
      color: #fff;
  }
  [tooltip]:hover::before,
  [tooltip]:hover::after {
      display: block;
  }
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
      display: none !important;
  }
  
  /* Only For Right */
  [tooltip][flow^="right"]::before {
      top: 50%;
      border-left-width: 0;
      border-right-color: #333;
      right: calc(0em - 5px);
      transform: translate(.5em, -50%);
  }
   
  [tooltip][flow^="right"]::after {
      top: 50%;
      left: calc(100% + 5px);
      transform: translate(.5em, -50%);
  }
  
  /*Animation*/
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
   
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
      animation: 
          tooltips-horz 
          300ms 
          ease-out 
          forwards;
  }

.backimg{
    width:100%;
    height:100%;
    background-image: url("/images/feature.jpg");
    /* Photo by Alfons Morales on Unsplash */
    display: inline-flex; 
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #1E60FF;
    width: auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    -webkit-transform-property:box-shadow,transform;
    transition-property: box-shadow,transform;

}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.form_front {
    color: white;
    background-color:black;

}

footer {
    background-color: black;
    color: white;
    bottom: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}