* {
    padding: 0;
    margin: 0;
}

#background {
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    background-image: url("");
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#top{
    background:#2c7ad6;
    line-height: 25px;
    padding: 10px 50px 10px 58px;
    box-sizing: border-box;
    word-spacing:8px;

}

#logo{
    width: 30%;
    background:transparent;
    text-align: left;
    font-size: 40px;
    float: left;
    padding: 0px 0px 0px 55px;
}

#menu{
    height: 100%;
    width: 100%;
    background:white;
    text-decoration: none;
   
}

#menu1 UL{
    list-style: none;
    padding-left: 180px;
    text-decoration: none;
    box-sizing: border-box;
    
}
#menu1 LI{
    height: 45px;
    width: 130px;
    text-align: center ; 
    display: inline-block; 
    line-height: 45px;
    transform: translateY(-5px);
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-size: 20px;
   
}
#menu1 LI:hover{
    background: #2c7ad6;  
    color: white; 
    transition: all ease 1s;
    text-decoration: none;
    border-radius: 5px;
}
#down{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    background:#2c7ad6;
    text-align: center;
    padding-top: 10px;
    color: white;
}

header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    line-height:70px;
    background: #2c7ad6;
    color: black;
    padding: .1%;
}

aside{
    background-color: black;
    float:left;
    width:100%;
    height:100%;
    color: white;
}

aside nav{
    padding-top:10px;
}
aside nav ul{
    list-style: none;
}
aside nav ul li{
    display: block;
    padding: 20px 10px;
    font-family: 'Avenir Next', Open Sans, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
aside nav ul li a{
    text-decoration: none;
    position: relative;
    color: white;
}

aside nav ul li a::after{
    border-radius: 1em;
    border-bottom: 0.1em solid Yellow;
    content: "";
    position: absolute;
        right:100%;
        bottom: 0;
        left:0;
    transition: right 0.4s ease-in;
}

aside nav ul li a:hover{
    text-decoration: none;
}

aside nav ul li a:hover::after{
    right:0;
}

.add-book-form,.update-book-form,.delete-book-form{
    text-align:center;
}

hr{
    border:1px solid black;
}

.add-book{
    display:block;
}

.update-book{
    display:none;
}
.delete-book{
    display:none;
}
.list-book{
    display:none;
}

.book-content{
    float:left;
    width: 100%;
    height:100%;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0px 20px ;
    padding-top: 20px;
}

.category-header {
    color: white;
    padding: 5px;
    font-size: xx-large;
    display: inline-flex;
    background-color: #1E60FF;
    border-radius: 10px;
    
}

label{
    color:whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

input{
    margin: 15px auto;
    width: 250px;
    height:30px;
    border: none;
    outline: none;
    background-color:transparent;
    border-bottom:1px solid darkgray;
    transition: border-bottom 0.3s linear;
    position: relative;
    color:whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

input:focus{
    border-bottom:2px solid yellow;
}

input:invalid{
    border-bottom:2px solid skyblue;
}
input::placeholder{
    color:white;
    font-size: large;

}

/* For ToolTip */
[tooltip] {
    position: relative;
  }
  [tooltip]::before,
  [tooltip]::after {
      line-height: 1;
      user-select: none;
      pointer-events: none;
      position: absolute;
      display: none;
      opacity: 0;
   
      /* opinions */
      text-transform: none; 
      font-size: .9em;
  }
  [tooltip]::before {
      content: '';
      z-index: 1001;
      border: 5px solid transparent;
  }
  [tooltip]::after {
      content: attr(tooltip); /* magic! */
      z-index: 1000;
       
      /* most of the rest of this is opinion */
      font-family: Helvetica, sans-serif;
      text-align: center;
       
      /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
      min-width: 3em;
      max-width: 30em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
       
      /* visible design of the tooltip bubbles */
      padding: 1ch 1.5ch;
      border-radius: .3ch;
      box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
      background: #333;
      color: #fff;
  }
  [tooltip]:hover::before,
  [tooltip]:hover::after {
      display: block;
  }
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
      display: none !important;
  }
  
  /* Only For Right */
  [tooltip][flow^="right"]::before {
      top: 50%;
      border-left-width: 0;
      border-right-color: #333;
      right: calc(0em - 5px);
      transform: translate(.5em, -50%);
  }
   
  [tooltip][flow^="right"]::after {
      top: 50%;
      left: calc(100% + 5px);
      transform: translate(.5em, -50%);
  }
  
  /*Animation*/
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
   
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
      animation: 
          tooltips-horz 
          300ms 
          ease-out 
          forwards;
  }

/* for table */
table{
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow: scroll;
}
th,tr,td{
    border: 1px solid white;
    height: 30px;
}
.backimg{
    width:100%;
    height:100%;
    padding: 40px;
    background-image: url("/images/dash.jpg");
    /* Photo by Alfons Morales on Unsplash */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: inline-flex; 

}

.form_front {
    color: white;
    background-color:black;

}

.btn {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #1E60FF;
    width: auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transform-property:box-shadow,transform;
    transition-property: box-shadow,transform;

}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

footer{
    background-color:black;
    color:white;
    bottom:100%;
    height:50px;
    padding: 20px;
    text-align:center;
    line-height:50px;
}